$white: #f1f1f1;
$black: #202020;
$dark-gray: #111;
$gray1: #363638;
$gray2: #4d4d4f;
$brown1: #b57c3e;
$brown2: #c98d4e;

$bluish: scale-color($gray1, $saturation: 10%, $lightness: 40%);

$gold: #f5a701;
$red: #c02c1f;
$green: #c9f023;
